.Home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/kreiva-ui_background.png');
    background-size: cover;
}

#MainLogo{
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10vmin;
    margin:auto;
}

#Water_Home{
    position: absolute;
    left: 0%;
    bottom:0%;
    width:100%;
    height: 25%; 
    z-index: 1;
}

#Ship_Home{
    position: absolute;
    height: 20vmax;
    width: 10vmax;
    left: 2%;
    bottom: 15%;
    z-index: 2;
}

#Date_Home{
    position: absolute;
    bottom: 2%;
    right: 3%;
    color: white;
    font-size: 3vmin;
    z-index: 3;
}

#Social_Home{
    position: absolute;
    left: 3%;
    bottom: 2%;
    color: white;
    font-size: 3vmin;
    z-index: 3;
}